<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- ลิงก์ CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='App.css') }}">
  <script src="/static/script.js" defer></script>
</head>

<body>
  <div style="justify-content: left; width: 100%;">
    <div>
      <p class="serail-test-header">Serial Web Control</p>
    </div>

    <div>
      <div>
        <p class="connect-header">Connect to Serial Port</p>
      </div>
      <div class="connect-body" style="display: flex; justify-content: left; gap: 10px; width: 70%;">
        <div>
          <label class="connect-body">COM Port:</label>
          <select class="select label" id="portSelect"></select>
        </div>
        <div>
          <label class="connect-body">Baudrate:</label>
          <select class="select label" id="baudrateSelect">
            <option value="9600">9600</option>
            <option value="115200">115200</option>
          </select>
        </div>
        <div>
          <label class="connect-body">Device Type:</label>
          <select class="select label" id="deviceTypeSelect">
            <option value="PostNet">PostNet</option>
            <option value="Hypercom">Hypercom</option>
          </select>
        </div>
        <div>
          <button onclick="connect()">Connect</button>
        </div>
      </div>
    </div>

    <div>
      <p class="connect-body">HEX Command:</p>
      <textarea type="text" id="commandInput" class="input-text" placeholder="e.g. 02030A"></textarea>
      <button onclick="sendCommand()">Send</button>
    </div>

    <div>
      <p class="connect-body">Logs:</p>
      <pre id="responseBox"></pre>
    </div>
  </div>
</body>


</html>