<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <!-- ลิงก์ CSS -->
  <link rel="stylesheet" href="../App.css">
  <script src="/static/script.js" defer></script>
</head>

<body>
  <div>
    <p class="serail-test-header">Serial Web Control</p>
    
    <label>COM Port:</label>
    <select id="portSelect"></select>

    <label>Baudrate:</label>
    <select id="baudrateSelect">
      <option value="9600">9600</option>
      <option value="115200">115200</option>
    </select>

    <button onclick="connect()">Connect</button>

    <label>HEX Command:</label>
    <input type="text" id="commandInput" placeholder="e.g. 02030A" />
    <button onclick="sendCommand()">Send</button>

    <h3>Logs:</h3>
    <pre id="responseBox"></pre>
  </div>
</body>
</html>
